<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>
		<link rel="stylesheet" href="css/data-style.css">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://kit.fontawesome.com/af98b1bb32.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="data-form">
			<h1><%= pageTitle %></h1>