<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>
		<link rel="stylesheet" href="css/data-style.css">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

   		<meta name="viewport" content="width=device-width, initial-scale=1">
			
   		<link rel="stylesheet" href="css/font-awesome.min.css">
			
   		<link rel="stylesheet" href="css/bootstrap.min.css">
			
   		<link rel="stylesheet" href="css/animate-wow.css">
			
   		<link rel="stylesheet" href="css/style.css">
   		<link rel="stylesheet" href="css/bootstrap-select.min.css">
   		<link rel="stylesheet" href="css/slick.min.css">
			
   		<link rel="stylesheet" href="css/responsive.css">
	</head>
	<body>
		<div class="data-form">
			<h1><%= pageTitle %></h1>