<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title><%= title %></title>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="stylesheet" href="css/font-awesome.min.css">

   <link rel="stylesheet" href="css/bootstrap.min.css">

   <link rel="stylesheet" href="css/animate-wow.css">

   <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="css/bootstrap-select.min.css">
   <link rel="stylesheet" href="css/slick.min.css">

   <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
   <!-- <header id="header" class="top-head">
      <nav class="navbar navbar-default">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-8 col-sm-12 navbar-left">
                  <div class="right-nav">
                     <div class="login-sr">
                        <div class="login-signup">
                           <ul>
                              <li><a href="/">Login</a></li>
                              <li><a class="custom-b" href="#">Sign up</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </nav>
   </header> -->