    <%- include("partials/data-header") -%> 
            <form action="dev" method="POST">
                <input type="submit" value="SELECT">
            </form>
        </div>
        
        <div>
            <% for (var index = 0; index < data.length; index++) { %>
                <h1><%= data[index][0] %></h1>
                <!-- <h1><%= data[index][1] %></h1> -->
            <% } %>
        </div>
    </body>
</html>