<%- include("partials/header") -%>
   <div class="page-content-product">
      <div class="main-product">
         <div class="container">
            <div class="row clearfix">
               <% for (var index = 0; index < games.length; index++) { %>
                  <div class="col-lg-3 col-sm-6 col-md-3">
                     <form action="/genre" method="POST">
                        <div class="box-img">
                           <input name="gameName" id="gameName" type="text" value="<%= games[index][0] %>" readonly/>
                           <img src="<%= `/img/${games[index][0].replace(/\s/g, '_').toLowerCase()}.jpg` %>" alt="" />
                        </div>
                        <div class="buy">
                           <input name="price" id="addToCartPrice" type="text" value="<%= games[index][1] %>" readonly/>
                           <br>
                           <input type="submit" class="addToCart" value="Add to Cart"/>
                        </div>
                     </form>
                     <br>
                     <br>
                  </div>
               <% } %>
            </div>
         </div>
      </div>
   </div>

   <script>

   </script>

   </body>
</html>