    <%- include("partials/header") -%>

        <div class="page-content-product">
            <div class="main-product">
               <div class="container">
                  <div class="row clearfix">
                     <div class="find-box">
                        
                     </div>
                  </div>
                  <div class="row clearfix">
                     <% for (var index = 0; index < games.length; index++) { %>
                        <div class="col-lg-3 col-sm-6 col-md-3">
                           <a href=<%= games[index][2].toString().toLowerCase() %>>
                              <div class="box-img">
                                 <h4><%= games[index][2] %></h4>
                                 <img src="<%= `img/${games[index][2].replace(/\s/g, '_').toLowerCase()}.jpg` %>" alt="" />
                              </div>
                           </a>
                        </div>
                     <% } %>
                  </div>
               </div>
            </div>
         </div>
    </body>

</html>