   <%- include("partials/header") -%>

      <div class="page-content-product">
         <div class="main-product">
            <div class="container">
               <div class="row clearfix">
                  <div class="find-box">
                     
                  </div>
               </div>
               <div class="row clearfix">
                  <% for (var index = 0; index < genres.length; index++) { %>
                     <div class="col-lg-3 col-sm-6 col-md-3">
                        <a href=<%= genres[index].toString().toLowerCase() %>>
                           <div class="box-img">
                              <h4><%= genres[index] %></h4>
                              <img src="<%= `img/${genres[index].toString().toLowerCase()}.jpg` %>" alt="" />
                           </div>
                        </a>
                     </div>
                  <% } %>
               </div>
            </div>
         </div>
      </div>

      <script src="js/jquery-1.12.4.min.js"></script> 

      <script src="js/bootstrap.min.js"></script> 
      <script src="js/bootstrap-select.min.js"></script>
      <script src="js/slick.min.js"></script> 
      <script src="js/wow.min.js"></script>
 
      <script src="js/custom.js"></script>
   </body>
</html>